.todo {
  position: relative;
  width: 100%;
  height: 100%;
  color: #29384b;
  text-align: center;
  box-sizing: border-box;
}
.todo .todo-list {
  text-align: left;
  margin: 24px;
  border: 1px solid #56D5FA;
  border-radius: 5px;
}
.todo .todo-list .todo-txt {
  font-size: 16px;
  color: black;
  padding: 12px 0;
}
.todo .todo-list button {
  float: right;
  background: #56D5FA;
  border: 0;
  border-radius: 4px;
  margin-right: 24px;
  font-size: 18px;
  line-height: 20px;
  color: white;
}
.todo .add-todo {
  font-size: 24px;
  display: flex;
  padding: 0 24px;
  margin-bottom: 12px;
}
.todo .add-todo input[type=text] {
  flex: 9;
  width: 300px;
  height: 30px;
  margin-right: 20px;
  padding-left: 12px;
  outline: none;
  font-size: 12px;
}
.todo .add-todo button {
  flex: 1;
  background: #56D5FA;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.todo .msg {
  font-size: 20px;
  font-weight: bold;
}
